* {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway";
    box-sizing: border-box;
}

header {
    background-color: green;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    min-width: 250px;
    height: 63px;
    min-height: 63px;
    margin-right: 20px;
}

.enter {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 400px;
    border: transparent;
    border-radius: 0.5em;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    background-color: white;
}

.bSearch {
    padding: 10px 10px 10px;
    border: thick;
    border-radius: 0.5em;
    color: green;
    transition: all 0.4s linear;
}

.bSearch:hover {
    background-color: rgb(172, 246, 172);
}

nav {
    float: right;
}

nav a {
    margin: 0.5em;
    text-decoration: none;
}

nav span {
    font-size: 25px;
    font-weight: lighter;
}

.nav-content {
    display: flex;
    align-items: center;
}

.btlogin {
    background-color: transparent;
    border: none;
    margin: 0.5em;
}

.iconNav {
    color: black;
    font-size: 40px;
    transition: all 0.4s linear;
}

.iconNav:hover {
    border-radius: 0.3em;
    transform: scale(1.2);
}


/* Ventana modal */

.pop-up {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up-wrap {
    display: flex;
    align-items: center;
    width: 90%;
    max-width:950px;
    transform: scale(0.6);
    opacity: 0;
    transition: .3s ease all;
}

.pop-up-title {
    flex-basis: 0;
    flex-grow: 1.5;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/stationery-6526588_1920.jpg');
    background-size: 170%;
    background-position: center;
    background-repeat: no-repeat;
}

.pop-up-title h2 {
    font-size: 80px;
}

.pop-up-title p {
    font-size: 20px;
    font-weight: 300;
}

.pop-up-title h2,
.pop-up-title p {
    z-index: 10;
}

.pop-up-login {
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.tlogin {
    width: 75%;
}

.tlogin h2 {
    font-weight: 500;
    font-size: 30px;
    color: #1F4068;
    margin-bottom: 15px;
}

.tlogin p {
    font-weight: 500;
    margin-bottom: 10px;
}

.tlogin a {
    text-decoration: none;
}

.login-email,
.login-pass {
    width: 100%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
}

.ini-sesion {
    width: 100%;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #198754;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    transition: .25s ease background;
    margin-bottom: 15px;
}

.ini-registrate{
    width: 100%;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #198754;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    transition: .25s ease background;
    margin-bottom: 15px;
}

.ini-sesion:hover {
    background: turquoise;
}

.ini-registrate:hover {
    background: rgb(64, 152, 224)
}

.iconlog {
    font-size: 40px;
    padding: 10px;
    color: seagreen;
}

#closepop {
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 25px;
    color: #198754;
    cursor: pointer;
}

.rayitah {
    width: 100%;
    height: 20px;
    background: rgb(42, 196, 158);
}

.pop-up.show {
    visibility: visible;
}

.pop-up-wrap.show{
    transform: scale(1);
    opacity: 1;
}

.tRegistro {
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
    padding-right: 15px;
}

.tRegistro h2 {
    font-weight: 500;
    font-size: 30px;
    color: #1F4068;
    margin-bottom: 15px;
}

.tRegistro p {
    font-weight: 500;
    margin-bottom: 10px;
}

.tRegistro a {
    text-decoration: none;
}


/* Fin ventana modal */

.Baner {
    height: 400px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(34, 139, 34, 0.3);
    background-blend-mode: darken;
    background-attachment: fixed;
}

#carouselExampleDark {
    width: 100%;
    border-radius: 10px;
    background-blend-mode: darken;
}

.txBaner {
    color: white;
}

.categorias {
    padding: 0.5em;
    margin-top: 2em;
    border-bottom: 1px solid #198754;
    box-sizing: border-box;
}

.ofertas {
    margin-top: 2em;
}

footer {
    display: inline-block;
    background-color: green;
    width: 100%;
    height: 25%;
    margin-top: 20px;
    padding: 0.5em;
    box-sizing: border-box;
}

.footer-logo {
    float: left;
    padding-top: 25px;
}

footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer .container {
    color: white;
}