* {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway";
    box-sizing: border-box;
}

header {
    background-color: green;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

.containerm {
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
    margin-top: 25px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    min-width: 250px;
    height: 63px;
    min-height: 63px;
    margin-right: 20px;
}

.enter {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 400px;
    border: transparent;
    border-radius: 0.5em;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    background-color: white;
}

.bSearch {
    padding: 10px 10px 10px;
    border: thick;
    border-radius: 0.5em;
    color: green;
    transition: all 0.4s linear;
}

.bSearch:hover {
    background-color: rgb(172, 246, 172);
}

nav {
    float: right;
}

nav a {
    margin: 0.5em;
    text-decoration: none;
}

nav span {
    font-size: 25px;
    font-weight: lighter;
}

.nav-content {
    display: flex;
    align-items: center;
}

.btlogin {
    background-color: transparent;
    border: none;
    margin: 0.5em;
}

.iconNav {
    color: black;
    font-size: 40px;
    transition: all 0.4s linear;
}

.iconNav:hover {
    border-radius: 0.3em;
    transform: scale(1.2);
}

footer {
    display: inline-block;
    background-color: green;
    width: 100%;
    height: 25%;
    margin-top: 20px;
    padding: 0.5em;
    box-sizing: border-box;
}

.footer-logo {
    float: left;
    padding-top: 25px;
}

footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer .container {
    color: white;
}